/* SECTION CARDS DAS CONSULTAS */
section h3 {
    font-weight: 700;
    font-size: 16px;
    margin: 8px 16px;
}

.section__card {
    margin: 16px;
} 

.card__consulta {
    background-color: var(--color-font-branco);
    border-radius: 8px;
    margin-bottom: 16px;
}

.card__info {
    display: flex;
    padding: 16px 16px 12px 16px;
    align-items: center;
}

.card__info-paciente {
    display: flex;
    flex-direction: column;
}

.card__info-paciente h4 {
    font-weight: 700;
    font-size: 14px;
}

.card__info-paciente p {
    font-size: 12px;
    color: var(--color-font-cinza);
}

.card__info-consulta {
    display: flex;
    align-items: center;
}

.icone__camera {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  
    background-color: transparent;
    background-image: url('/assets/icons/camera.svg');
}

.icone__chat{
  width: 32px;
  height: 32px;
  margin-left: auto;
  border-radius: 50%;

  background: rgba(246, 246, 246, 1);
  background-image: url('/assets/icons/chat.svg');
}

.icone__pin {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  
    background-color: transparent;
    background-image: url('/assets/icons/pin.svg');
}

.icone__camera,
.icone__chat,
.icone__pin {
    border: none;

    background-repeat: no-repeat;
    background-position: center;
}

.card__hora {
    padding: 9px 16px 16px 16px;
    border-top: 1px solid var(--color-cinzaclaro);
}

.card__hora span {
    font-weight: 500;
    font-size: 12px;
    
}

.card__button {
    display: flex;
    justify-content: space-evenly;
    gap: 18px;
}

.card__hora button {
    height: 48px;
    padding: 13px;
    margin-top: 8px;
    border-radius: 8px;
    
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-principal);
}

.button__video,
.button__audio {
    width: 50%;
}

.button__video {
    background-color: var(--button-laranja);
    color: var(--color-font-branco);
    border: none;
}

.button__audio {
    background-color: var(--color-font-branco);
    border: 1px solid var(--color-cinzaclaro);
    color: var(--color-font-preto);
}

.button__endereco {
    background-color: var(--button-azul);
    color: var(--color-font-branco);
    border: none;
    width: 80vh;
}

/* MEDIA QUEIRE PARA TABLETS - 768px */
@media (min-width: 768px) {
    .section__card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 16px 36px;
        gap: 40px;
    }
    
    section h3 {
        margin: 8px 36px;
    }

    .card__consulta {
        margin-bottom: 0;
    }

    .button__endereco {
        width: 50vh;
    }
}

/* MEDIA QUEIRE PARA DESKTOP - 1440px */
@media (min-width: 1440px) {
    .section__card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 48px 54px 16px 54px;
        gap: 40px;
    }

    .card__consulta {
        margin-bottom: 0;
    }

    .button__endereco {
        width: 50vh;
    }
}