footer{
    background-color: white;
    border-radius: 12px 12px 0 0;
    height: 60px;
    font-size: 12px;
    color: var(--color-font-cinza);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer__nav{
    display: flex;
    justify-content: space-evenly;
    padding: 12px 0;
}

.footer__item{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.footer__item:hover{
    color: var(--color-font-preto);
    
    transition: var(--transition-hover);
    cursor: pointer;
}

.footer__item button {
    width: 24px;
    height: 24px;

    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.footer__item:first-child{
  color: var(--button-azul);
}

.footer__item-calendario {
    background-image: url('/assets/icons/Calendario-icone.svg');
}

.footer__item-cliente {
    opacity: 30%;
    background-image: url('/assets/icons/clientes-icone.svg');
}

.footer__item-relatorio {
    opacity: 30%;
    background-image: url('/assets/icons/relatorios-icone.svg');
}

.footer__item-menu {
    opacity: 30%;
    background-image: url('/assets/icons/menu-icone.svg');
}